<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.jiusmaruniremingtonmanizales.memuspiner">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".actividad11">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <activity android:name=".actividad2" />
            <activity android:name=".actividad1" />
            <activity android:name=".actividad3" />
            <activity android:name=".actividad4" />
            <activity android:name=".actividad5" />
            <activity android:name=".actividad6" />
            <activity android:name=".actividad7" />
            <activity android:name=".actividad8" />
            <activity android:name=".actividad9" />
            <activity
                android:name=".actividad10"
                android:label="@string/title_activity_actividad10"
                android:theme="@style/AppTheme.NoActionBar" />
        </activity>
        <activity android:name=".actividad12" />
        <activity android:name=".actividad13" />
        <activity android:name=".actividad14" />
        <activity android:name=".actividad15" />
        <activity android:name=".actividad16" />
        <activity android:name=".actividad17" />
        <activity android:name=".actividad18" />
        <activity android:name=".actividad19" />
        <activity android:name=".actividad20" />
        <activity android:name=".actividad21"></activity>
    </application>

</manifest>